body {
    width: 50cm;
    height: 50cm;
    overflow-x: hidden;
    background-image: var(--random-background);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-color: rgb(10, 14, 35); /* Default background color */
}
.contain {
    width: 10cm;
    height: 10cm;
    background-color: rgb(70, 107, 23);
    padding: 20px;
    margin-left: 10%;
}

.form-group {
    display: flex;
    padding: 5px;
}

label {
    flex: 1;
}

input[type="text"],
input[type="number"] {
    flex: 2;
    padding: 3px;
}

#hobi {
    padding-left: -270cm;
    flex: 2;
}
